.ctw-dropdown-action-menu {
  @apply ctw-min-w-[8rem]  ctw-rounded-md ctw-bg-white ctw-ring-divider-light;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
}

.ctw-dropdown-action-menu {
  @apply ctw-bg-white  ctw-ring-divider-light;
}

.ctw-dropdown-action-menu-item {
  @apply ctw-flex ctw-w-full ctw-cursor-pointer ctw-p-2 ctw-text-content-black ctw-outline-none;

  &.dangerous {
    @apply ctw-text-error-main;
  }

  &[data-highlighted] {
    @apply ctw-rounded-md ctw-bg-primary-light ctw-bg-bg-lighter;
  }
}

.ctw-dropdown-menu-item {
  @apply ctw-flex ctw-w-full ctw-cursor-pointer ctw-p-2 ctw-text-primary-dark ctw-outline-none;

  &.dangerous {
    @apply ctw-text-error-main;
  }

  &[data-highlighted] {
    @apply ctw-bg-primary-light;
  }
}

.ctw-dropdown-separator {
  @apply ctw-bg-divider-light;
  height: 1px;
  margin: 5px 0px;
}

.ctw-dropdown-menu-arrow {
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  @apply ctw-border-t-divider-light;

  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 0 9px;
    border-color: transparent;
    border-top-color: white;
    top: -10px;
    left: -9px;
  }
}
