/* 
  These styles are applied to the entire app.
  NOTE: This is the only file where we can use @apply from tailwind.
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Setup classes within base so that we can overwrite their styles with
   other classes.
 */
@layer base {
  .ctw-listbox-button,
  .ctw-listbox-textarea,
  .ctw-listbox-input {
    @apply ctw-rounded-md ctw-border ctw-border-icon-light ctw-px-3 ctw-py-2 ctw-text-sm ctw-shadow-sm;
    border-style: solid;
    background-color: initial;
  }

  .ctw-listbox {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* Make sure the floating dropdown get full-width of reference. */
  .ctw-listbox-button + div {
    width: 100%;
  }

  .ctw-listbox-button:disabled,
  .ctw-listbox-textarea:disabled,
  .ctw-listbox-textarea:read-only,
  .ctw-listbox-input:disabled,
  .ctw-listbox-input:read-only {
    @apply ctw-cursor-not-allowed ctw-bg-bg-light ctw-opacity-100;
  }

  .ctw-save-button:disabled {
    @apply ctw-cursor-not-allowed ctw-opacity-70;
  }

  div.error .ctw-listbox-button {
    @apply ctw-border-error-light ctw-text-error-main;
  }

  .ctw-input-container input.error {
    @apply ctw-border-error-light ctw-pr-10 ctw-text-error-main focus:ctw-border-error-main focus:ctw-outline-none focus:ctw-ring-1 focus:ctw-ring-error-main;
  }

  .ctw-input-container input.dark {
    @apply ctw-border-0 ctw-bg-icon-default ctw-text-bg-light focus:ctw-bg-icon-default;
  }

  .ctw-input-container input.dark:focus-visible {
    outline-offset: -1px;
    @apply ctw-outline-2 ctw-outline-white;
  }

  .ctw-input-container label.error {
    @apply ctw-text-error-main;
  }

  .ctw-listbox-textarea:focus-visible,
  .ctw-listbox-input:focus-visible {
    outline-offset: -1px;
    @apply ctw-outline ctw-outline-2 ctw-outline-primary-main;
  }

  .ctw-title {
    @apply ctw-text-xs ctw-font-semibold ctw-uppercase ctw-text-black;
    letter-spacing: 0.2rem;
  }

  .ctw-link {
    @apply ctw-cursor-pointer ctw-text-xs ctw-font-medium ctw-text-primary-dark hover:ctw-text-primary-main;
  }

  .ctw-btn {
    @apply ctw-cursor-pointer ctw-rounded-md ctw-border ctw-border-solid ctw-border-transparent ctw-py-2 ctw-px-4 ctw-text-sm ctw-font-medium ctw-shadow-sm;
  }

  .ctw-btn-clear {
    @apply ctw-cursor-pointer ctw-border-0 ctw-border-transparent ctw-bg-transparent ctw-p-0 ctw-text-sm ctw-font-medium ctw-outline-none;
    line-height: 0;
  }

  *[class^="ctw-"],
  *[class^="ctw-"]:before,
  *[class^="ctw-"]:after {
    box-sizing: border-box;
  }

  .ctw-btn-default {
    @apply ctw-btn ctw-border-divider-main ctw-bg-white ctw-text-content-light hover:ctw-bg-bg-lighter;
  }

  .ctw-btn-primary {
    @apply ctw-btn ctw-bg-primary-main ctw-text-white hover:ctw-bg-primary-dark;
  }

  .ctw-btn-group button {
    @apply ctw-rounded-none;
    margin-left: -1px; /* Counteract button borders. */
  }

  .ctw-btn-group button:first-child {
    margin-left: 0;
    @apply ctw-rounded-l-md;
  }

  .ctw-btn-group button:last-child {
    @apply ctw-rounded-r-md;
  }

  .ctw-btn-group button:last-child {
    @apply ctw-rounded-r-md;
  }

  *[class*="ctw-border"] {
    @apply ctw-border-0 ctw-border-solid ctw-border-divider-light;
  }

  .ctw-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
    height: 4px;
  }

  .ctw-scrollbar::-webkit-scrollbar-thumb {
    @apply ctw-bg-content-light;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }

  .ctw-scrollbar::-webkit-scrollbar-track {
    width: 4px;
    height: 4px;
    @apply ctw-bg-divider-main;
  }

  .ctw-toggle-checkbox {
    @apply ctw-z-10 ctw-p-0.5;
  }

  .ctw-toggle-checkbox:checked {
    @apply ctw-right-0 ctw-border-primary-dark;
  }

  .ctw-toggle-checkbox:checked + .ctw-toggle-span {
    @apply ctw-pointer-events-none ctw-absolute ctw-inset-0 ctw-bg-primary-dark;
  }
}
