/*
  These styles are applied to the entire app.
  NOTE: This is the only file where we can use @apply from tailwind.
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "buttons.scss";

/* Setup classes within base so that we can overwrite their styles with
   other classes.
 */
@layer base {
  *[class^="ctw-"],
  *[class^="ctw-"] *,
  *[class^="ctw-"]:before,
  *[class^="ctw-"]:after {
    box-sizing: border-box;
  }

  .ctw-body-container {
    @apply ctw-mx-3 ctw-space-y-5 ctw-bg-bg-white;
  }

  .ctw-border-default {
    @apply ctw-border-0 ctw-border-solid ctw-border-divider-light;
  }

  .ctw-listbox-button,
  .ctw-listbox-textarea,
  .ctw-listbox-input {
    @apply ctw-rounded-md ctw-border ctw-border-icon-light ctw-px-3 ctw-py-2 ctw-text-sm ctw-shadow-sm;
    border-style: solid;
    background-color: initial;
    resize: none;
    height: 2.25rem;
  }

  .ctw-listbox-textarea {
    resize: vertical;
    height: unset;
  }

  .ctw-listbox-button:disabled,
  .ctw-listbox-textarea:disabled,
  .ctw-listbox-textarea:read-only,
  .ctw-listbox-input:disabled,
  .ctw-listbox-input:read-only {
    @apply ctw-cursor-not-allowed ctw-bg-bg-light ctw-opacity-100;
  }

  .ctw-save-button:disabled {
    @apply ctw-pointer-events-none ctw-flex ctw-items-center ctw-justify-center ctw-opacity-70;
  }

  .ctw-listbox-textarea:focus-visible,
  .ctw-listbox-input:focus-visible {
    outline-offset: -1px;
    @apply ctw-outline ctw-outline-2 ctw-outline-primary-main;
  }

  .ctw-title {
    @apply ctw-text-xs ctw-font-semibold ctw-uppercase ctw-text-content-black;
    letter-spacing: 0.2rem;
  }

  .ctw-title-container {
    @apply ctw-flex ctw-items-center ctw-justify-between;
  }

  .ctw-heading-container {
    @apply ctw-flex ctw-h-11 ctw-items-center ctw-justify-between ctw-bg-bg-light ctw-p-3;
  }

  .ctw-link {
    @apply ctw-cursor-pointer ctw-text-xs ctw-font-medium ctw-text-primary-dark hover:ctw-text-primary-main;
    // Also handle any icons (svg fill).
    @apply ctw-fill-primary-dark hover:ctw-fill-primary-main;
  }

  .ctw-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
    height: 4px;
  }

  .ctw-scrollbar::-webkit-scrollbar-thumb {
    @apply ctw-bg-content-light;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }

  .ctw-scrollbar::-webkit-scrollbar-track {
    width: 4px;
    height: 4px;
    @apply ctw-bg-divider-main;
  }

  /* Scrollable container pattern */
  .ctw-scrollable-content {
    flex-grow: 1;
    overflow: auto;
    /* Need to keep min-height for Firefox */
    min-height: 0;
  }

  /* all ascendants of "ctw-scrollable-content" (without explicit height) need .ctw-scrollable-pass-through-height */
  .ctw-scrollable-pass-through-height {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* Need to keep min-height for Firefox */
    min-height: 0;
  }

  .ctw-stacked {
    .ctw-body-container {
      @apply ctw-m-0;
    }

    .ctw-title-container {
      @apply ctw-m-3 ctw-mb-0;
    }
  }

  .ctw-hyphens-auto {
    hyphens: auto;
  }

  select.ctw-error,
  input.ctw-error {
    @apply ctw-border-error-main ctw-pr-10 focus:ctw-border-error-main focus:ctw-outline-none focus:ctw-ring-1 focus:ctw-ring-error-main;
  }

  .ctw-alert-bg {
    @apply ctw-flex ctw-items-start ctw-space-x-2 ctw-p-4 ctw-text-left;
  }

  .ctw-theme > [data-radix-popper-content-wrapper] {
    // We add important here because radix z-index will take precedence if we don't.
    z-index: 10000 !important;
  }

  .ctw-border-top {
    border-top: 1px solid #e5e7eb;
  }
}
