.ctw-toast-override {
  --toastify-color-info: #4b5563;
  --toastify-z-index: 10101; /* one higher than modals which are above drawers */
}

.Toastify__close-button {
  color: #e5e7eb;
}

.Toastify__toast {
  border-radius: 8px;
  padding: 16px;
}

.Toastify__toast-body {
  padding: 0 30px 0 0;
  margin: unset;
  align-items: baseline;
}

.ctw-toast-grid-with-icon {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: fit-content 1fr;
}

.ctw-toast-grid-with-icon-body-text {
  grid-column: 2;
  grid-row: 2;
}

.Toastify__toast-container {
  max-width: 528px;
  width: fit-content;
}

:root {
  --toastify-toast-min-height: unset;
}
