.ctw-patient-record-search {
  @apply ctw-flex ctw-items-center;
  .ctw-patient-record-search-results {
    @apply ctw-max-w-3xl ctw-px-1.5 ctw-py-4 ctw-text-center;
    width: 650px;
    max-width: 650px;
  }

  .ctw-patient-record-search-input {
    @apply ctw-w-full;
    max-width: 650px;
  }

  .ctw-patient-record-search-results-list {
    @apply ctw-m-0 ctw-ml-0;
    min-height: 600px;
  }

  .ctw-patient-record-search-result-observation {
    .ctw-table-container {
      @apply ctw-border-b-0 ctw-border-t-0;
    }
  }
}
