.ctw-patients-table {
  @apply ctw-border ctw-border-solid ctw-border-divider-light ctw-bg-white;

  &-email {
    @apply ctw-text-content-black;
  }
  &-phone {
    @apply ctw-text-content-light;
  }
  &-search {
    @apply ctw-rounded-md ctw-border ctw-border-solid ctw-border-icon-light ctw-bg-bg-white ctw-px-3 ctw-py-2 ctw-pl-10 ctw-pr-3 ctw-text-sm ctw-shadow-sm;
  }
}

.ctw-patients-table.ctw-patients-table-stacked {
  .ctw-body-container {
    @apply ctw-m-0;
  }
}

.ctw-search-icon-wrapper {
  @apply ctw-pointer-events-none ctw-absolute ctw-inset-y-0 ctw-left-0 ctw-flex ctw-items-center ctw-pl-3;

  .ctw-search-icon {
    @apply ctw-h-5 ctw-w-5 ctw-text-content-lighter;
  }
}
