.ctw-action-list {
  @apply ctw-border-solid ctw-border-divider-light;
  list-style: none;
  padding-left: 0; // no space between left side of list and list items
  overflow: hidden; // so the left padding colored on items doesn't break border-radius

  .ctw-action-list-item {
    position: relative;
    /* Inside auto layout */
    margin: -1px 0;
    width: 100%;

    // Colors
    background: theme("colors.white");
    border: 1px solid theme("colors.divider.light");

    // because we will use "after" to create colors on the left border, we need a transparent border here so content
    // will respect layout, as content would shift under the border of an absolutely positioned "after" element.
    border-left: 0.5rem solid transparent;
    &:before {
      border-left: 0.5rem solid theme("colors.icon.active");
      content: " ";
      position: absolute;
      top: -1px;
      bottom: -1px;
      // Move left to sit over the transparent border on the list item
      left: -0.5rem;
    }
    &:not(.active):before {
      border-left: 0.5rem solid theme("colors.divider.light");
    }

    // Show button on hover if an action is available
    &:hover:is(.active),
    &:hover:is(.undoable) {
      .ctw-action-list-item-action {
        opacity: 1;
      }
    }

    .ctw-action-list-item-action {
      min-width: 8rem; // keep button container bigger than button
      opacity: 0; // hide button by default
      button {
        float: right;
      }
    }
  }
}
