@layer base {
  .ctw-table-base {
    container-type: normal;
    border-collapse: collapse;
    table-layout: fixed;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 0 1px var(--tw-shadow-color);
    @apply ctw-w-full ctw-rounded-lg ctw-shadow-divider-light;
    @apply cq-w-sm:ctw-rounded-none;
  }

  .ctw-table-base tbody {
    @apply ctw-divide-y ctw-divide-divider-light ctw-bg-white;
  }

  .ctw-table-row-container {
    @apply ctw-relative ctw-align-top cq-w-sm:ctw-block cq-w-sm:ctw-p-3;
  }

  .ctw-table-action-column {
    @apply ctw-right-0 ctw-bg-white;
    @apply cq-w-sm:ctw-absolute cq-w-sm:ctw-top-0 cq-w-sm:-ctw-right-4 cq-w-sm:ctw-bg-transparent cq-w-sm:ctw-p-0;
  }
}
