/* 
  These styles are applied to the entire app.
  NOTE: This is the only file where we can use @apply from tailwind.
*/

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./table.css";
@import "tailwindcss/utilities";

/* Setup classes within base so that we can overwrite their styles with
   other classes.
 */
@layer base {
  .ctw-title {
    @apply ctw-text-xs ctw-font-semibold ctw-uppercase ctw-text-black;
    letter-spacing: 0.2rem;
  }

  .ctw-link {
    @apply ctw-cursor-pointer ctw-text-xs ctw-font-medium ctw-text-primary-dark hover:ctw-text-primary-main;
  }

  .ctw-btn {
    @apply ctw-cursor-pointer ctw-rounded-md ctw-border ctw-border-solid ctw-border-transparent ctw-py-2 ctw-px-4 ctw-text-sm ctw-font-medium ctw-shadow-sm;
  }

  .ctw-btn-clear {
    @apply ctw-cursor-pointer ctw-border-transparent ctw-bg-transparent ctw-text-sm ctw-font-medium ctw-outline-none;
  }

  *[class^="ctw-"],
  *[class^="ctw-"]:before,
  *[class^="ctw-"]:after {
    box-sizing: border-box;
  }

  .ctw-btn-default {
    @apply ctw-btn ctw-border-divider-main ctw-bg-white ctw-text-content-light hover:ctw-bg-bg-lighter;
  }

  .ctw-btn-primary {
    @apply ctw-btn ctw-bg-primary-main ctw-text-white hover:ctw-bg-primary-dark;
  }

  .ctw-btn-group button {
    @apply ctw-rounded-none;
    margin-left: -1px; /* Counteract button borders. */
  }

  .ctw-btn-group button:first-child {
    margin-left: 0;
    @apply ctw-rounded-l-md;
  }

  .ctw-btn-group button:last-child {
    @apply ctw-rounded-r-md;
  }

  .ctw-btn-group button:last-child {
    @apply ctw-rounded-r-md;
  }

  *[class*="ctw-border"] {
    @apply ctw-border-0 ctw-border-solid ctw-border-divider-light;
  }

  .ctw-divide-x > :not([hidden]) ~ :not([hidden]),
  .ctw-divide-y > :not([hidden]) ~ :not([hidden]) {
    @apply ctw-border-0 ctw-border-solid;
  }

  .ctw-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
    height: 4px;
  }

  .ctw-scrollbar::-webkit-scrollbar-thumb {
    @apply ctw-bg-content-light;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }

  .ctw-scrollbar::-webkit-scrollbar-track {
    width: 4px;
    height: 4px;
    @apply ctw-bg-divider-main;
  }

  .ctw-toggle-checkbox {
    @apply ctw-z-10 ctw-p-0.5;
  }

  .ctw-toggle-checkbox:checked {
    @apply ctw-right-0 ctw-border-primary-dark;
  }

  .ctw-toggle-checkbox:checked + .ctw-toggle-span {
    @apply ctw-pointer-events-none ctw-absolute ctw-inset-0 ctw-bg-primary-dark;
  }
}

/* PREFLIGHT */
*[class*="ctw-"],
*[class*="ctw-"]:before,
*[class*="ctw-"]:after {
  box-sizing: border-box;
}
