/* 
  These styles are applied to the entire app.
  NOTE: This is the only file where we can use @apply from tailwind.
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Setup classes within base so that we can overwrite their styles with
   other classes.
 */
@layer base {
  .ctw-title {
    @apply ctw-uppercase ctw-text-black ctw-font-semibold ctw-text-xs;
    letter-spacing: 0.2rem;
  }

  .ctw-link {
    @apply hover:ctw-text-primary-main ctw-text-primary-dark ctw-cursor-pointer ctw-font-medium ctw-text-xs;
  }

  .ctw-btn {
    @apply ctw-rounded-md ctw-border ctw-border-transparent ctw-py-2 ctw-px-4 ctw-text-sm ctw-font-medium ctw-shadow-sm;
  }

  .ctw-table-base {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  *[class^="ctw-"],
  *[class^="ctw-"]:before,
  *[class^="ctw-"]:after {
    box-sizing: border-box;
  }

  .ctw-btn-default {
    @apply ctw-btn ctw-border-divider-main ctw-bg-white ctw-text-content-light hover:ctw-bg-bg-lighter;
  }

  .ctw-btn-primary {
    @apply ctw-btn ctw-bg-primary-main ctw-text-white hover:ctw-bg-primary-dark;
  }

  .ctw-btn-group button {
    @apply ctw-rounded-none;
    margin-left: -1px; /* Counteract button borders. */
  }

  .ctw-btn-group button:first-child {
    margin-left: 0;
    @apply ctw-rounded-l-md;
  }

  .ctw-btn-group button:last-child {
    @apply ctw-rounded-r-md;
  }

  .ctw-btn-group button:last-child {
    @apply ctw-rounded-r-md;
  }

  .ctw-table-scroll-right-shadow::after {
    @apply ctw-block ctw-absolute ctw-pointer-events-none ctw-z-10 ctw-w-1 ctw-h-full;
    left: calc(100% - 4px);
    background: linear-gradient(
      to right,
      rgba(99, 114, 130, 0) 0px,
      rgba(9, 30, 66, 0.13) 100%
    );
    content: "";
    top: -5px;
  }

  .ctw-table-scroll-left-shadow-sticky {
    @apply ctw-sticky ctw-left-0;
  }

  .ctw-table-scroll-left-shadow-sticky::after {
    @apply ctw-absolute ctw-left-0 ctw-bottom-0 ctw-w-full ctw-h-full ctw-border-r  ctw-border-divider-main;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1), 2px 0px 0px rgba(0, 0, 0, 0.06);
    content: "";
  }

  .ctw-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
    height: 4px;
  }

  .ctw-scrollbar::-webkit-scrollbar-thumb {
    @apply ctw-bg-content-light;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }

  .ctw-scrollbar::-webkit-scrollbar-track {
    width: 4px;
    height: 4px;
    @apply ctw-bg-divider-main;
  }
}

/* PREFLIGHT */
*[class^="ctw-"],
*[class^="ctw-"]:before,
*[class^="ctw-"]:after {
  box-sizing: border-box;
}
