@mixin bottom-border {
  @apply ctw-border-0 ctw-border-b ctw-border-solid ctw-border-divider-light;
}

.ctw-table-scroll-right-shadow::after,
.ctw-table-scroll-left-shadow::before {
  @apply ctw-pointer-events-none ctw-absolute ctw-z-30 ctw-block ctw-h-full ctw-w-1;
  top: 0;
  content: "";
  background: linear-gradient(
    to right,
    rgba(99, 114, 130, 0) 0px,
    rgba(9, 30, 66, 0.13) 100%
  );
}

.ctw-table-scroll-right-shadow::after {
  right: 0;
}

.ctw-table-scroll-left-shadow::before {
  left: 0;
  transform: rotate(180deg); // Flip the background gradient direction.
}

.ctw-table-container {
  @apply ctw-relative ctw-overflow-hidden ctw-border-y ctw-border-x-0 ctw-border-r-0 ctw-border-solid ctw-border-divider-light;

  .ctw-stacked-hide {
    display: initial;
  }

  .ctw-stacked-only {
    display: none;
  }

  .ctw-scrollbar {
    @apply ctw-overflow-x-auto;
  }

  table {
    container-type: normal;
    table-layout: fixed;
    border-collapse: collapse;
    @apply ctw-w-full;

    thead {
      @include bottom-border;

      th {
        @apply ctw-p-3 ctw-text-left ctw-text-xs ctw-font-medium ctw-uppercase ctw-tracking-wider ctw-text-content-light;
      }
    }

    tbody {
      tr {
        @apply ctw-align-top;

        &:not(:last-child) {
          @include bottom-border;
        }

        td {
          @apply ctw-whitespace-pre-wrap ctw-px-3 ctw-py-4 ctw-text-sm ctw-text-content-black;

          &.ctw-table-full-length-row {
            @apply ctw-flex ctw-flex-col ctw-items-center ctw-p-6 ctw-text-content-black;
          }
        }
      }
    }
  }

  .ctw-table-row-actions {
    background: linear-gradient(90deg, #f9fafb00 0%, #f9fafb 4.17%);
    @apply ctw-invisible ctw-absolute ctw-top-0 ctw-right-0 ctw-z-20 ctw-flex ctw-h-full ctw-items-center ctw-space-x-2 ctw-px-4;
  }
}

.ctw-table-stacked {
  .ctw-stacked-hide {
    display: none;
  }

  .ctw-stacked-only {
    display: initial;
  }

  // Get children to be inline and add ", " before any of the divs following
  // the first one.
  .ctw-stacked-concat {
    > div {
      display: inline-block;
    }
    > div ~ div::before {
      content: ", ";
    }
  }

  .ctw-scrollbar {
    @apply ctw-overflow-x-hidden;
  }

  &.ctw-table-scroll-right-shadow::after,
  &.ctw-table-scroll-left-shadow::before {
    display: none;
  }

  .ctw-pagination {
    @apply ctw-items-center ctw-justify-between ctw-gap-2.5 ctw-pl-4 ctw-pr-4;
  }

  table {
    colgroup {
      display: none;
    }

    thead {
      @apply ctw-hidden;
    }

    tbody {
      tr {
        @apply ctw-relative ctw-block ctw-p-3;

        td:not(.ctw-table-full-length-row):not(.ctw-table-row-actions) {
          @apply ctw-block ctw-w-full ctw-p-0 ctw-pr-7;
        }
      }
    }
  }

  .ctw-table-row-actions {
    margin-top: 0 !important;
  }
}
