@mixin bottom-border {
  @apply ctw-border-0 ctw-border-b ctw-border-solid ctw-border-divider-light;
}

.ctw-table-scroll-right-shadow::after,
.ctw-table-scroll-left-shadow::before {
  @apply ctw-pointer-events-none ctw-absolute ctw-z-10 ctw-block ctw-h-full ctw-w-1;
  top: 0;
  content: "";
  background: linear-gradient(
    to right,
    rgba(99, 114, 130, 0) 0px,
    rgba(9, 30, 66, 0.13) 100%
  );
}

.ctw-table-scroll-right-shadow::after {
  right: 0;
}

.ctw-table-scroll-left-shadow::before {
  left: 0;
  transform: rotate(180deg); // Flip the background gradient direction.
}

.ctw-table-container {
  @apply ctw-relative ctw-overflow-hidden ctw-rounded-lg ctw-border ctw-border-solid ctw-border-divider-light;

  .ctw-scrollbar {
    @apply ctw-overflow-x-auto;
  }

  table {
    container-type: normal;
    table-layout: fixed;
    border-collapse: collapse;
    @apply ctw-w-full;

    thead {
      @include bottom-border;

      th {
        @apply ctw-p-3 ctw-text-left ctw-text-xs ctw-font-medium ctw-uppercase ctw-tracking-wider ctw-text-content-light;
      }
    }

    tbody {
      tr {
        @apply ctw-align-top;

        &:not(:last-child) {
          @include bottom-border;
        }

        td {
          @apply ctw-whitespace-pre-wrap ctw-px-3 ctw-py-4 ctw-text-sm ctw-text-content-light;

          &.ctw-table-full-length-row {
            @apply ctw-flex ctw-flex-col ctw-items-center ctw-p-6 ctw-text-content-light;
          }
        }
      }
    }
  }

  .ctw-table-action-column {
    @apply ctw-w-12 ctw-py-4 ctw-text-right;
  }
}

.ctw-table-stacked {
  .ctw-table-container {
    @apply ctw-rounded-none ctw-border-x-0;
  }

  .ctw-scrollbar {
    @apply ctw-overflow-x-hidden;
  }

  &.ctw-table-scroll-right-shadow::after,
  &.ctw-table-scroll-left-shadow::before {
    display: none;
  }

  .ctw-pagination {
    margin: 8px 0 !important;
    flex-direction: column-reverse;
    gap: 10px;
  }

  table {
    colgroup {
      display: none;
    }

    thead {
      @apply ctw-hidden;
    }

    tbody {
      tr {
        @apply ctw-relative ctw-block ctw-p-3;

        td:not(.ctw-table-full-length-row) {
          @apply ctw-block ctw-w-full ctw-p-0 ctw-pr-7;
        }
      }
    }
  }

  .ctw-table-action-column {
    @apply ctw-absolute ctw-top-1 ctw-right-2 ctw-bg-transparent;
    padding-right: 0 !important;
  }
}
