.ctw-patient-conditions {
  .ctw-table-stacked {
    tr {
      @apply ctw-space-y-2;
    }

    .ctw-pc-status-and-extra {
      grid-area: 2 / 2;
    }

    .ctw-pc-status-container {
      display: initial;
    }

    .ctw-pc-status-dot {
      display: none;
    }

    .ctw-pc-onset-notes {
      @apply ctw-text-content-black;
    }
  }

  .ctw-pc-status-and-extra {
    grid-area: 2 / 2;
  }
}

.ctw-patient-conditions {
  .ctw-pc-chapter {
    @apply ctw-font-normal;
  }

  .ctw-pc-status-container {
    @apply ctw-grid ctw-items-center;
    grid-template-columns: 1rem auto;
    grid-template-rows: 2;
  }

  .ctw-pc-status-dot {
    @apply ctw-text-xl;
  }

  .ctw-pc-status {
    @apply ctw-text-sm ctw-font-medium ctw-capitalize ctw-text-content-black;
  }

  .ctw-pc-notes {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}
