// Resets any default HTML styling in a note
.ctw-note * {
  margin: 0;
  padding: 0;
}

.responsiveTable thead tr {
  border-bottom: 2px solid #fff;
}

.responsiveTable tbody tr {
  border: 1px solid #fff;
}

.ctw-note-transposed {
  display: block;
  padding-bottom: 25px;
}

.ctw-note-transposed div {
  display: block;
  padding-bottom: 25px;
}

.ctw-note-transposed p {
  padding: 0px;
  margin: 0px;
}

.ctw-note-transposed-row-separator {
  border-top: solid 1px #000;
}

[aria-label="details"].ctw-btn-clean {
  @media (max-width: 400px) {
    line-height: 1rem;
  }
}
