.ctw-patient-conditions-stacked {
  tr {
    @apply ctw-space-y-2;
  }

  .ctw-pc-status-and-extra {
    margin-left: 0 !important;
  }

  .ctw-pc-status-dot {
    display: none;
  }

  .ctw-pc-onset-notes {
    @apply ctw-text-content-black;
  }
}

.ctw-patient-conditions {
  @apply ctw-bg-white;

  .ctw-pc-chapter {
    @apply ctw-font-normal;
  }

  .ctw-pc-status-container {
    @apply ctw-flex ctw-space-x-2;
  }

  .ctw-pc-status-dot {
    @apply ctw-text-base;
  }

  .ctw-pc-status {
    @apply ctw-text-sm ctw-font-medium ctw-capitalize ctw-text-content-black;
  }

  .ctw-pc-notes {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}
