.ctw-list-box {
  @apply ctw-absolute ctw-z-10 ctw-m-0 ctw-mt-1 ctw-min-w-[15rem] ctw-list-outside ctw-list-none ctw-overflow-hidden ctw-rounded-md ctw-bg-white ctw-p-0 ctw-text-sm ctw-ring-divider-light;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
}
